.app {
  height: 100vh;
  min-width: 100%;
  position: relative;

  .item-container {
    height: 100%;
    min-width: 100%;
    position: absolute;

    @include respond(phone) {
      height: 80%;
      top: 10%;
    }
  }
}
