.weather-container {
  position: absolute;
  right: 3rem;
  top: 2rem;
  z-index: 999;
  align-items: center;
  text-align: right;
  height: fit-content;
  width: fit-content;

  @include respond(phone) {
    right: 0.5rem;
    top: 0.5rem;
    opacity: 1;
  }

  p {
    margin: 0.5rem;
  }

  section {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 1em;

    @include respond(phone) {
      justify-content: flex-end;
    }

    .temperature {
      font-size: 3rem;
      margin: 0;

      @include respond(phone) {
        font-size: 1.5rem;
      }
    }

    .weather-icon {
      height: 80px;

      @include respond(phone) {
        display: none;
      }
    }
  }

  .weather-location {
    @include respond(phone) {
      margin: 0;
    }
  }

  .weather-description {
    @include respond(phone) {
      display: none;
    }
  }

  .feels-like {
    @include respond(phone) {
      display: none;
    }
  }
}

.enable-location {
  color: white;
  position: absolute;
  right: 3rem;
  top: 2rem;
  z-index: 999;
  align-items: center;
  text-align: right;
  height: fit-content;
  width: fit-content;
}
