//colors
@import "./vars/colors";
//viewports
@import "./vars/viewports";
@import "./vars/helpers";
//typography
@import "./vars/typography";

//main homepage
@import "./components/home";
@import "./components/cover";
@import "./components/time";
@import "./components/greet";
@import "./components//quote";
@import "./components/weather";
@import "./components/settings";

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

// .app{
//   z-index: 99999;
// }
